img{
  width: 40%;
  height:40%;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}

h1,h2,h3,p{
  text-align: center;
}

.btn{
  color: white;
  background-color: green;
  display: block;
  margin: 0 auto;
}

.jumbotron{
  background-image: url('https://static.brusheezy.com/system/resources/previews/000/056/565/non_2x/highfive-hand-background-photoshop-backgrounds.jpg');
  background-size: contain;
  color: white;
  text-shadow: 2px 2px black;
}
body{
  font-family: 'Baloo', cursive;
  background-color: honeydew;
}
