<!-- Because I used scope, I was able to use just one template for all of the animals -->
<img ng-src='{{highFiveBuddy.imageLink}}'>
<p>{{highFiveBuddy.description}}</p>
<p>Barry's high five skill level: {{skillLevel}}</p>
<p>Click the button below to {{highFiveBuddy.name}} high five!</p>
<button class='btn' ng-click='highFiveMe()'><img src='https://www.spreadshirt.com/image-server/v1/designs/12910541,width=178,height=178/high-five-hand-sign-high-5-hand-gesture-sign-langu.png'></button>
<h3>You've made {{successful}} out of {{total}} high fives</h3>


<!-- Imgs -->
<!-- http://images1.fanpop.com/images/photos/2500000/hi-5-high-five-2524598-1600-1200.jpg -->
<!--  -->
<!--  -->

<!-- descriptions -->
<!-- This is Barry, the high fiving bear! He loves to give high fives! -->
<!--  -->
<!--  -->
